# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Logs
*.log

# Environment
.env*

# Misc
.DS_Store
*.pem

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
next-env.d.ts
